*{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-color: rgb(220, 244, 244);
}

header{
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
    color: rgb(173, 94, 246);
    border-bottom: solid 2px rgb(0, 0, 0);
}

.wrapper{
    border: solid 2px black;
    width: 80%;
    margin: 2rem auto;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 2px grey;
}

.wrapper h2{
    padding: 0.5rem 1rem;
}

.container{
    border: solid 2px black;
    display: flex;
    padding: 0.5rem 1rem ;
    margin:  1rem;
    border-radius: 10px;
}

.item{
    height: 50px;
    width: 50px;
    background-color: #000;
    margin: 10px;
    color:aliceblue;
    font-size: 2rem;
    text-align: center;
}

.item-1{
    background-color: orange;
}

.item-2{
    background-color: orangered;
}

.item-3{
    background-color: rgb(0, 153, 255);
}

.row-reverse{
    flex-direction: row-reverse;
}

.column{
    flex-direction: column;
}

.column-reverse{
    flex-direction: column-reverse;
}

.justify-content-start{
    justify-content: flex-start;
}

.justify-content-end{
    justify-content: flex-end;
}